<div class="build">
  {% if section.settings.script_enabled %}
    <script>
      $(document).ready(function() {
        console.log('{{ section.settings.script_text }}');
      });
    </script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    {{ 'scroll-handler.js' | asset_url | script_tag }}
  {% endif %}

  {% schema %}
    {
      "name": "section pages",
      "settings": [
        {
          "type": "checkbox",
          "id": "script_enabled",
          "label": "enable script",
          "default": true
        }, {
          "type": "text",
          "id": "script_text",
          "label": "script text",
          "default": "hello from schema"
        }
      ]
    }
  {% endschema %}
  <div style="display:none;" class='loader df aic jcc'>
    <div>
      <h1>Loading</h1>
      <h2 class='loader--text'>0%</h2>
    </div>
  </div>
  <div class='demo-wrapper'>
    <header class='df aic jcc'>
      <div>
        <h0 style="font-size: 18vh;">stik/</h0>
      </div>
    </header>
    <section class='demo-text'>
      <div class='wrapper text'>
        BUYNOWBUYNOWBUYNOWBUYNOW
      </div>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper ul-element'>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc22546b7-5cc2-497e-8d34-aff0640cb614%2FE9344019-AAE2-43E9-AF09-81AE182282D4.jpg?id=a4494a2c-8b1e-4aba-a124-67d0d5e71164&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc22546b7-5cc2-497e-8d34-aff0640cb614%2FE9344019-AAE2-43E9-AF09-81AE182282D4.jpg?id=a4494a2c-8b1e-4aba-a124-67d0d5e71164&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0092ddb6-6909-4d09-a245-f4574a98ce44%2F1183EE11-BA40-45F2-88C1-3C772FB01F56.jpg?id=7207cb71-4fed-44b2-9900-4016d7fdb270&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F78d186ac-b725-49fc-81f8-a74220ebb2b2%2FE9D2CD7D-320B-49F0-8BBC-823966D6C2CC.jpg?id=66a13034-92f6-4a34-92f7-4de505f3bfbc&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
      </ul>
    </section>
    <section class='container hero'>
      <div class='hero__inner'>
        <div class='hero__images'></div>
        <img class='hero__image' src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F1e64f93f-5f3f-4cff-b654-16f3eb54b34b%2FCC5D5515-7BA1-4751-8791-CA59EEAB8AC6_2.jpg?id=26226694-5be2-41a1-a8af-fb5a180266cd&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        <div class='hero__content'>
          <div class='hero__headline'>
            <h1>the world's best balm just got better.</h1>
          </div>
        </div>
      </div>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper ul-element'>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F1e64f93f-5f3f-4cff-b654-16f3eb54b34b%2FCC5D5515-7BA1-4751-8791-CA59EEAB8AC6_2.jpg?id=26226694-5be2-41a1-a8af-fb5a180266cd&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa70e6cd5-029a-4e47-ab89-067c1205a473%2FIMG_6191.jpg?id=c7a7cb43-1e21-46cf-89f3-a96c746366db&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
        <li class="li-element">
          <img class="stik-img" src='https://stikbalm.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe326392c-bfb5-464a-8eaf-eba8e266727f%2FF7339F7D-C53A-4818-9018-46545679FE43.jpg?id=7b2ceb7c-02e2-4d1e-851f-aa551f835591&amp;table=block&amp;spaceId=67c1c07b-6e54-49ea-a854-55125e7fbaf6&amp;width=2000&amp;userId=&amp;cache=v2'>
        </li>
      </ul>
    </section>
    <section class='demo-text'>
      <div class='wrapper text'>
        BUYNOWBUYNOWBUYNOWBUYNOW
      </div>
    </section>
  </div>
</div>