
 @font-face {
font-family: "CoolveticaRg-Regular";
src: url("CoolveticaRg-Regular.woff") format("woff"),
url("CoolveticaRG-Regular.woff") format("woff");
}

  <p><span style="font-weight: 400;">yourcssselectorhere { font-family: "CoolveticaRg-Regular"!important; }</span></p> 